.App {
  background-color: #F7EDE2;
  text-align: center;
  display: flex;
  flex-direction: row;
  color: #535C65;
}

.App-component {
  padding: 2em 2em 4em 4em;
  align-items: center;
}

.App-logo {
  max-height: 40vh;
  max-width: 35vh;
  pointer-events: none;
  position: static;
}

/* Header */
.App-header-div {
  position: sticky;
  top: 0;
}

.App-header {
  background-color: #84a59d;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #F1CBC6;
}

.App-header-persona {
  max-height: 80vh;
  max-width: 80vh;
  margin: 0.25em 0.25em -0.5em 0.5em;
  position: sticky;
}

.App-header-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  position: sticky;
  padding-top: -0.38em;
}

/* Contact */
.App-contact {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  margin-left: 1em;
}

/* Button */
.App-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #F1CBC6;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  margin: 2em 1em 1em 1em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.App-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.Link-image {
  color: #84a59d
}

.Link-text {
  color: #535C65;
  text-decoration: none;
  padding: 1em;
}

.App-blog-para {
  padding: 0.5em;
  align-items: center;
}

.App-bio-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 6em;
}

.App-bio-list-item {
  max-width: 10em;
  max-height: 5em;
}

@media (min-width: 768px) {
  .App-button {
    padding: 0.25em 0.75em;
  }
}

.App-header-persona-element {
  max-height: 100vh;
  max-width: 100vh;
  font-size: calc(8px + 2vmin)
}

.App-link {
  color: #F1CBC6;
  text-decoration: none;
  font-style: italic;
  padding-bottom: 0.1em;
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
    height: 100%;
  }

  .App-header {
    width: 100%;
    height: 15em;
    position: relative;
  }

  .App-header-div {
    position: relative;
  }

  .App-header-nav {
    display: flex;
    flex-direction: row;
    margin-top: -1em;
  }

  .App-link {
    padding: 0.33rem;
  }

  .App-logo {
    display: none;
  }

  .App-contact {
    display: flex;
    flex-direction: column;
    margin-left: 0em;
  }

  .App-blog-picture {
    width: 20em;
  }

  .App-bio-list {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }
}


